body {
	font-family: Helvetica, Arial, san-serif;
	margin: 0;
        font-size: 90%;
        background-color: white;
}

a:link {
        color: rgb(34,98,245);
        text-decoration: none;
}

a:visited {
        color: rgb(34,98,245);
	text-decoration: none;
}

a:hover {
        color: rgb(34,98,245); 
        text-decoration: underline;
}
a:active {
        color: rgb(34,98,245);
	text-decoration: underline;
}


#sidebar a:link, #sidebar a:visited {
	color: rgb(91,91,91);
	text-decoration: none;
}

#sidebar .current:link, #sidebar .current:visited {
	font-weight: bold;
	color: rgb(0,81,210);
}

#sidebar {
	top: 0;
	right: 0;
	padding-left: 5px;
	padding-top: 5px;
	height: 100%;
	margin-left: 0px;
	border-width: 0;
	border-style: none;
	border-left: 1px #C3C3C3 solid;
	width: 181px;
	float:right; /* hack for winie to not choke utterly on the site */
	background-color: #F2F2F2;
	-apple-text-size-adjust: none;
	font: 12px Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: bottom center;
	overflow: hidden;
	min-height: 600px;
}


body > #sidebar {
	float:none;
	position: fixed; /* WinIE doesn't understand this so we can make things right in other browsers. */
}

#banner {
	-apple-text-size-adjust: none;
	background-color: rgb(81,118,236);
	background-image: url(images/bluebanner.png);
	background-repeat: repeat-x;
	background-position: top left;
	padding: 4px 0 0 8px;
	margin: 0px;
	height: 40px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	font-size: 26px;
	letter-spacing: 0.07em;
	-apple-text-size-adjust: none;
	cursor: default;
	color: #FFFFFF;
	margin-right: 182px;
}

#content {
	margin-right: 201px;
	margin-top: 1em;
	margin-left: 1em;
}

h1 {
	font-weight: bold;
	font-size: larger;
}

h2 {
	font-weight: bold;
}

.code {
	font-family: monospace;
	margin-left: 2em;
}

.group {
	padding-top: 8px;
        padding-left: 1px;
	padding-bottom: 11px;
	background: url(images/separator.png) no-repeat center top;
        line-height: 130%;
}

.first.group {
        background: none
}

.grouptitle {
        color: black;
	font-weight: bold;
        line-height: 180%;
}

.grouplinks {
        margin-left: 10px;
}