<chapter id="spring-dao">
  <title>DAO Support</title>

  <sect1 id="dao-overview">
   <title>Dao and Template</title>

    <para>
      Compass::Spring uses the <literal>CompassTemplate</literal> and <literal>CompassCallback</literal> classes provided by Compass::Core module as part of it's DAO (Data Access Object) support for Spring.
    </para>

    <para>
       Compass::Spring provides a simple base class called <literal>CompassDaoSupport</literal> which can be initialized by <literal>Compass</literal> or <literal>CompassTemplate</literal> and provides access to <literal>CompassTemplate</literal> from it's subclasses.
    </para>

    <para>
      The following code shows a simple Library Dao:

<programlisting><![CDATA[public class LibraryCompassDao extends CompassDaoSupport {
    public int getNumberOfHits(final String query) {
       Integer numberOfHits = (Integer)getCompassTemplate().execute(
           new CompassCallback() {
               public Object doInCompass(CompassSession session) {
                  CompassHits hits = session.find(query);
                  return new Integer(hits.getLength());
               }
           }
       );
    }
    return numberOfHits.intValue();
}
]]></programlisting>

    </para>

    <para>
      The following is an example of configuring the above Library DAO in the XML application context (assuming that we configured a <literal>LocalCompassBean</literal> named "compass" previously:

<programlisting><![CDATA[<beans>
   <bean id="libraryCompass" class="LibraryCompassDao">
      <property name="compass">
         <ref local="compass" />
      </property>
   </bean>
</beans>
]]></programlisting>

    </para>

  </sect1>

</chapter>
