<chapter id="spring-transaction">
  <title>Spring Transaction</title>

    <sect1 id="transaction-overview">
      <title>Introduction</title>

      <para>
        Compass::Spring integrates with Spring transaction management in several ways, either using Compass::Core own LocalTransaction or using the Spring transaction synchronization services. Currently there is no Compass implementation of Spring's <literal>PlatformTransactionManagement</literal>.
      </para>

    </sect1>

    <sect1 id="spring-transaction-local">
      <title>LocalTransaction</title>

      <para>
        Compass::Core default transaction handling is LocalTransaction. A LocalTransaction does not integrate with Spring transaction management services, but can be used to write Compass Dao beans that do not require integration with an on going Spring or Jta transactions.
        </para>

    </sect1>

    <sect1 id="spring-transcation-jta">
      <title>JTASyncTransaction</title>

      <para>
        When using Spring's JtaTransactionManager, you have a choice to either use the <literal>SpringSycnTransaction</literal> (described next) or the <literal>JTASyncTransaction</literal> provided by Compass::Core (where <literal>SpringSyncTransaction</literal> is preferable).
      </para>

    </sect1>

    <sect1 id="spring-transaction-spring">
        <title>SpringSyncTransaction</title>

        <para>
            Compass::Spring integrates with Spring transaction synchronization services. This  means that whichever Spring transaction manager (Jta, Hiberante, ...) you are using, the <literal>SpringSyncTransaction</literal> will synchronize with the transaction upon transaction completion.
        </para>

        <para>
            If you are using the <literal>SpringSyncTransaction</literal>, a Spring based transaction must already be started in order for SpringSyncTransaction to join. If no transcation is started, Compass can start one (and will commit it eventually) if the <literal>PlatformTransactionManager</literal> is provided to the <literal>LocalCompassBean</literal>. The transaction must support the transaction synchronization feature (which by default all of them do).
        </para>

        <para>
            Note: you can use spring transaction management support to suspend and resumed transactions. In which case a Compass provided transaction will be suspended and resumed also.
        </para>

        <para>
            In order to configure Compass to work with the <literal>SpringSyncTransaction</literal>, you must set the <literal>compass.transaction.factory</literal> to <literal>org.compass.spring.transaction.SpringSyncTransactionFactory</literal>.
        </para>

    </sect1>

    <sect1 id="spring-transaction-manager">
      <title>CompassTransactionManager</title>

      <para>
        Currently Compass::Spring does not provide a CompassTransactionManager. This means any CompassDao objects with LocalTransaction, programmatic (Spring transction template) / declarative (Spring Interceptor/AOP transaction support) Spring transaction definition won't be applied to the Compass transaction.
      </para>

    </sect1>

</chapter>

