<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:compass="http://www.compass-project.org/schema/spring-core-config"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.compass-project.org/schema/spring-core-config http://www.compass-project.org/schema/spring-compass-core-config-2.3.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
      <property name="driverClassName"><value>org.hsqldb.jdbcDriver</value></property>
      <property name="url"><value>jdbc:hsqldb:mem:test</value></property>
      <property name="username"><value>sa</value></property>
      <property name="password"><value></value></property>
      <property name="suppressClose"><value>true</value></property>
    </bean>

    <bean id="propPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <props>
                <prop key="conn">target/test-index</prop>
            </props>
        </property>
    </bean>


    <compass:compass name="compass" dataSource="dataSource">
        <compass:connection>
            <compass:file path="${conn}" />
        </compass:connection>
    </compass:compass>
</beans>