<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:test</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping resource="org/compass/gps/device/hibernate/cascade/inheritance/Location.hbm.xml"/>
        <mapping resource="org/compass/gps/device/hibernate/cascade/inheritance/City.hbm.xml"/>
        <mapping resource="org/compass/gps/device/hibernate/cascade/inheritance/User.hbm.xml"/>

    </session-factory>
</hibernate-configuration>