<chapter id="spring-ojb">
  <title>OJB Gps Device Support</title>

  <sect1 id="spring-ojb-introduction">
   <title>Introduction</title>
    <para>
      Compass OJB support is built on top of Spring ORM support for Apache OJB (Object Relational Broker) and the Compass::Gps support for OJB device. This provides simpler integration with OJB. For a complete and working sample, please see the petclinic sample.
    </para>
  </sect1>
  <sect1 id="spring-ojb-device">
    <title>SpringOjbGpsDevice</title>
    <para>
      <literal>SpringOjbGpsDevice</literal> is an extension of the <literal>OjbGpsDevice</literal> and utilizes Spring ojb features. This devices Uses Spring <literal>PersistenceBrokerTemplate</literal> and <literal>OjbFactoryUtils</literal> to get the current <literal>PersistenceBroker</literal> for batch indexing (the <literal>index()</literal> operation).
    </para>
    <para>
      You can provide the <literal>PersistenceBrokerTemplate</literal>, though it is not required since it is created the same way the <literal>PersistenceBrokerDaoSupport</literal> does.
    </para>
    <para>
      The device can be used with <literal>SpringOjbGpsDeviceInterceptor</literal> to provide real-time data mirroring without the need to write any code (described in the next section).
    </para>
  </sect1>
  <sect1 id="spring-ojb-interceptor">
    <title>SpringOjbGpsDeviceInterceptor</title>
    <para>
      <literal>SpringOjbGpsDeviceInterceptor</literal> Uses Spring's AOP capabilities to attach and remove lifecycle event listeners to the <literal>PersistenceBroker</literal> (the device acts as the listener). Uses <literal>OjbGpsDeviceUtils</literal> to perform it on the supplied <literal>SpringOjbGpsDevice</literal>.
    </para>
    <para>
      Mainly used as a post interceptor with transaction proxies that manage service layer operations on an OJB enabled DAO layer.
    </para>
  </sect1>
</chapter>
